body {
    margin: 0;
    height: 100%;
    background-color: #EEE;
}

.container {
    display: flex;
    flex-direction: row;
    /* height is set to the height of the window minus the header and bottom row size */
    height: calc(100vh - 160px);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    background-color: red;
}

.bottom {
    height: 80px;
    background-color: orange;
}

.section {
    overflow-y: auto;
}

#categories {
    flex: 2;
    flex-direction: column;
}

.category-item {
    display: flex;
    border: 1px solid black;
    padding: 8px;
    height: 40px;
    font-family: sans-serif;
    font-weight: 700;
}

#items {
    flex: 4;
    background-color: yellow;
}

#ticket {
    flex: 2;
    background-color: green;
}
