body {
    margin: 0;
    height: 100%;
    background-color: #EEE;
}

.container {
    display: flex;
    flex-direction: row;
    /* height is set to the height of the window minus the header and bottom row size */
    height: calc(100vh - 160px);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    background-color: red;
}

.bottom {
    height: 80px;
    background-color: orange;
}

.section {
    overflow-y: auto;
}

#categories {
    flex: 2;
    flex-direction: column;
}

.category-item {
    display: flex;
    border: 1px solid black;
    padding: 8px;
    height: 40px;
    font-family: sans-serif;
    font-weight: 700;
}

#items {
    flex: 4;
    display: grid;
    /* 4 items per row */
    grid-template-columns: auto auto auto auto;
    grid-gap: 8px;
    padding: 8px;
    background-color: yellow;
}

.item {
    /* item buttons are at least 128px tall, and can stretch to fill out space on categories with few rows up to 256px */
    min-height: 128px;
    max-height: 256px;
    border: 1px solid black;
}

#ticket {
    flex: 2;
    background-color: green;
}
