* {
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100%;
    background-color: #eee;
}

.ordering-container {
    display: flex;
    flex-direction: row;
    /* height is set to the height of the window minus the header */
    height: calc(100vh - 80px);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    height: 80px;
    background-color: #111;
}

.header-title {
    color: #eee;
    margin: auto 0;
    font-weight: 700 !important;
}

.header-buttons {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.header-button {
    margin-left: 16px;
    font-size: 24px;
    font-weight: 700;
}

.bottom {
    height: 80px;
    background-color: #555;
}

.section {
    padding: 8px;
    overflow-y: auto;
}

#categories {
    flex: 2;
    flex-direction: column;
    border-right: 1px solid black;
    padding-left: 0;
}

.category-item {
    display: flex;
    margin-bottom: 8px;
    border: 1px solid black;
    padding: 8px;
    height: 56px;
    font-weight: 700;
}

#items {
    flex: 4;
    display: grid;
    /* repeat(4, 1fr) = 1fr 1fr 1fr 1fr, so 4 (equal width) items per row */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

.item {
    border: 1px solid black;
    padding: 8px;
    /* item buttons are at least 128px tall (plus 16px padding), 
    and can stretch to fill out space on categories with few rows up to 160px (also add 16px padding) */
    min-height: 128px;
    max-height: 160px;
}

.category-item:hover,
.item:hover,
#ticket-table tr:hover {
    background-color: #ccc;
    transition: background-color 0.25s ease;
}

#ticket {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding-right: 0;
}

.ticket-body {
    border: 1px solid black;
    overflow-y: auto;
}

.ticket-title {
    margin: 0;
    border: 1px solid black;
    padding: 8px 4px 4px;
    background-color: #eea;
}

.ticket-footer {
    margin-bottom: auto;
    border: 2px solid black;
    border-top: unset;
}

.footer-item {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    margin-top: 8px;
}

.button {
    flex: 1;
    border: none;
    height: 48px;
    color: white;
}

.item-selected {
    background-color: #ddd;
    font-weight: 700;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
}

td {
    height: 40px;
    padding: 4px;
}
