.title  {
    font-size: 100px;
}

table {
    border: 0px solid;
    table-layout: fixed;
    margin: auto;
    margin-top: 100px;
}
  
td {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: lightgray;
}

.navBar {
    background-color: #77b5c5;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: sticky;
}

a:link { 
    text-decoration: none; 
} 

a:visited { 
    text-decoration: none; 
} 
  
a:hover { 
    color: rgb(201, 36, 173);
} 
  
a:active { 
    text-decoration: none; 
}

.navBar a {
    color: #3626c9;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    border-radius: 50%;
    width: 50px;
}

.navBar * {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}

html, body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

  
* {
    text-align: center;
}

