body {
}

.container {
    display: flex;
    justify-content: center;
    height: auto;
    width: fit-content;
}

.card {
    margin: 50px;
    padding: 50px;
    max-width: 100%;
}

input,
button {
    width: auto;
}

.navbar .navbar-nav .nav-link {
    color: white;
}
