* {
    font-family: sans-serif;
}

body {
    background-color: #eee;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.orderSummary,
#payment {
    width: 100%;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

#calculations div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orderSummary {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calculations {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

#calculations div {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.payment {
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: left;
}

#cashInput {
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: left;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.numPad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.num-btn,
#clear {
    width: 100%;
    height: 60px;
    font-size: 24px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.num-btn:hover,
#clear:hover {
    background-color: #0056b3;
}
