html {
    scroll-behavior: smooth;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.horizontal-line {
    border-top: 10px solid #505050;
}

#home {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.order {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #990000;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 20px 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.bond {
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.bond img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#about,
#contact {
    height: 60vh;
}

#about h1,
#contact h1 {
    margin-bottom: 4rem;
}