#categoryList {
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 2px solid #000;
}

#categoryList .nav-link.selected {
    font-weight: bold;
}

#categoryList::-webkit-scrollbar {
    height: 8px;
}

#categoryList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#categoryList::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.modal-dialog-slide {
    max-width: 400px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.modal.show .modal-dialog-slide {
    transform: translateX(0);
}

.cart-item {
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input[type=number] {
    -moz-appearance: textfield;
}
